@media (min-width: 768px) {
    .logos {
        display: flex;
        margin-top: 18px;
    }

    .logos img {
        width: auto;
        height: 100px;
    }
}

.logos img {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: all 0.3s ease;
}

.logos img:hover {
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    filter: grayscale(0%)
}